body {
    background-color: lavender;
}

h1 {
    text-align: center;
    text-decoration: underline;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a {
    color: darkorchid;
}

a:visited {
    color:darkmagenta;
}

a:hover {
    color: gold;
    background-color:blueviolet;
}

h3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:violet;
}
